<%- include('../includes/page-head.ejs') %>
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
   <%- include('../includes/page-navigation.ejs') %>
    <main class="container">

        <div class="row">
            <div class="text-center">
                <h1>Quản Lý Đơn Hàng</h1>
            </div>
        </div>

        <!-- <div class="row">
            <div class="toolbar">
                <button id="btn-add" class="btn-toolbar btn btn-success" data-bs-toggle="modal" data-bs-target="#addItemModal">+</button>
                <button id="btn-delete" class="btn-toolbar btn btn-danger"> x </button>
            </div>
        </div> -->

        <div class="row">
            <div id="customToolbar">
                <!-- <button id="btn-add" class="btn-toolbar btn btn-success" data-bs-toggle="modal" data-bs-target="#addItemModal">Thêm</button> -->
                <button id="btn-delete" class="btn-toolbar btn btn-danger">Xóa</button>
            </div>
        </div>

        <div class="row">
            <div id="confirmOrderModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xác Nhận Đơn Hàng</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/confirm-order/?confirm=true " method="POST">
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="_id">Mã đơn: </label>
                                    <span name="_id" class="_id"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="date">Ngày đặt: </label>
                                    <span name="date" class="date"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="name">Tên KH: </label>
                                    <span name="name" class="name"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="email">Email: </label>
                                    <span name="email" class="email"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="phoneNumber">Điện thoại: </label>
                                    <span name="phoneNumber" class="phoneNumber"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="address">Địa chỉ: </label>
                                    <span name="address" class="address"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="total">Tổng: </label>
                                    <span name="total" class="total"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="isPaid">Thanh Toán: </label>
                                    <span name="isPaid" class="isPaid"></span>
                                </div>
                                
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf">
                                <button id="btn-submit-confirm-order" class="btn btn-primary" type="submit">Xác nhận</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cancelOrderModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Hủy Xác Nhận Đơn Hàng</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/cancel-confirm-order/?cancel=true " method="POST">
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="_id">Mã đơn: </label>
                                    <span name="_id" class="_id"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="date">Ngày đặt: </label>
                                    <span name="date" class="date"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="isPaid">Thanh Toán: </label>
                                    <span name="isPaid" class="isPaid"></span>
                                </div>
                                
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf">
                                <button id="btn-submit-confirm-order" class="btn btn-primary" type="submit">Hủy xác nhận</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="confirmIsPaidModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xác Nhận Thanh Toán</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/confirm-isPaid-order/?confirm=true " method="POST">
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="_id">Mã đơn: </label>
                                    <span name="_id" class="_id"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="date">Ngày đặt: </label>
                                    <span name="date" class="date"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="name">Tên KH: </label>
                                    <span name="name" class="name"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="total">Tổng: </label>
                                    <span name="total" class="total"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="isPaid">Thanh Toán: </label>
                                    <span name="isPaid" class="isPaid"></span>
                                </div>
                                
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf">
                                <button class="btn btn-primary" type="submit">Xác nhận</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="confirmDeleteItemModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xác Nhận Xóa Đơn Hàng</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/delete-order/?delete=true" method="POST">
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="title">Mã đơn hàng: </label>
                                    <div name="orderId" class="orderId"></div>
                                    <input type="hidden" name="orderId" id="orderId">
                                </div>
                                
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf">
                                <button class="btn btn-primary" type="submit">Xóa</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="editNoteModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Sửa ghi chú</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/edit-note-order/" method="POST" enctype="multipart/form-data">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="note">Ghi chú: </label>
                                    <textarea class="form-control" 
                                            name="note" 
                                            id="note" 
                                            value=""
                                            >
                                    </textarea>
                                </div>
                                <input type="hidden" name="_id" id="_id" val="">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-primary" type="submit">Cập nhật</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    
    <div class="row">
        <table 
        id="table-orders" 
        data-click-to-select="true"
        data-pagination="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-search="true"
        data-filter-control="true"
        data-sortable="true"
        data-show-search-button="true"
        data-toolbar="#customToolbar"
        >
        <thead>
            <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="_id" data-visible="true" data-filter-control="input">Mã đơn</th>
            <th data-field="deliveryInfo" data-width="400" data-formatter="deliveryInfoFormatter">Thông tin Khách Hàng</th>
            <th data-field="products" data-width="400" data-formatter="productsInfoFormatter" data-events="productsInfoEvents">Thông tin Hàng Hóa</th>
            <th data-field="isPaid" data-formatter="isPaidStatusFormatter" data-filter-control="select">Trạng thái thanh toán</th>
            <th data-field="actionConfirmPay" data-width="180" data-formatter="confirmIsPaidFormatter" data-events="actionConfirmPayEvents">Xác nhận thanh toán</th>
            <th data-field="approveStatus" data-formatter="approveStatusFormatter" data-filter-control="select">Trạng thái đơn hàng</th>
            <th data-field="actionOrder" data-width="180" data-formatter="actionEditEvent" data-events="actionConfirmOrderEvents">Xác nhận đơn hàng</th>
            </tr>
        </thead>
        </table>
    </div>

    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script 
        id="admin-orders-page" 
        src="/js/script-admin-orders.js"
        orders-data='<%- JSON.stringify(orders.reverse()) %>'  
        inform='<%= inform %>'
        >
    </script>

   <%- include('../includes/page-end.ejs') %>