<%- include('../includes/page-head.ejs') %>

</head>

<body>
   <%- include('../includes/page-navigation.ejs') %>
    <main class="container">

        <div class="row">
            <div class="text-center">
                <h1>Quản Lý Người Dùng</h1>
            </div>
        </div>

        <div class="row">
            <div class="toolbar">
                <button id="btn-add" class="btn-toolbar btn btn-success" data-bs-toggle="modal" data-bs-target="#addItemModal">+</button>
                <button id="btn-delete" class="btn-toolbar btn btn-danger"> x </button>
            </div>
        </div>

        <div class="row">
            <div id="addItemModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm Sự Người Dùng Mới</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/add-user/" method="POST" enctype="multipart/form-data">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="email">Email: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'email')[0] === undefined ? '' : 'red-border'%>" 
                                        type="email" 
                                        name="email" 
                                        id="email" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.email %>" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "email")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "email")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="password">Mật khẩu: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'password')[0] === undefined ? '' : 'red-border'%>" 
                                        type="password" 
                                        name="password" 
                                        id="password" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.password %>" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "password")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "password")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="passwordConfirm">Xác nhận mật khẩu: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'passwordConfirm')[0] === undefined ? '' : 'red-border'%>" 
                                        type="password" 
                                        name="passwordConfirm" 
                                        id="passwordConfirm"
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.passwordConfirm %>"" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "passwordConfirm")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "passwordConfirm")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="permission">Quyền: </label>
                                    <select 
                                        class="form-select <%= addUserValidationErrors.filter(e => e.param === 'permission')[0] === undefined ? '' : 'red-border'%>" 
                                        name="permission" 
                                        id="permission" 
                                        value="user" 
                                        required>
                                        <option value="user">user</option>
                                        <option value="admin">admin</option>
                                        <% if (addUserValidationErrors.filter(e => e.param === "permission")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "permission")[0].msg; %></p>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="name">Tên: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'name')[0] === undefined ? '' : 'red-border'%>" 
                                        type="text" 
                                        name="name" 
                                        id="name" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.name %>"
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "name")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "name")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="doB">Ngày sinh: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'doB')[0] === undefined ? '' : 'red-border'%>" 
                                        type="date" 
                                        name="doB" 
                                        id="doB" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.doB %>" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "doB")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "doB")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="phoneNumber">Điện thoại: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'phoneNumber')[0] === undefined ? '' : 'red-border'%>" 
                                        type="tel" 
                                        name="phoneNumber" 
                                        id="phoneNumber" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.phoneNumber %>" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "phoneNumber")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "phoneNumber")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="postcode">Mã bưu điện: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'postcode')[0] === undefined ? '' : 'red-border'%>" 
                                        type="number" 
                                        name="postcode" 
                                        id="postcode" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.postcode %>" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "postcode")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "postcode")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="address">Địa chỉ: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'address')[0] === undefined ? '' : 'red-border'%>" 
                                        type="text" 
                                        name="address" 
                                        id="address" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.address %>" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "permission")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "address")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="point">Điểm: </label>
                                    <input 
                                        class="form-control <%= addUserValidationErrors.filter(e => e.param === 'point')[0] === undefined ? '' : 'red-border'%>" 
                                        type="number" 
                                        name="point" 
                                        id="point" 
                                        value="<%= oldAddUserValue === null ? '' :  oldAddUserValue.point %>" 
                                        required>
                                        <% if (addUserValidationErrors.filter(e => e.param === "permission")[0]) { %> 
                                            <p class="alert-danger text-center"><%= addUserValidationErrors.filter(e => e.param === "point")[0].msg; %></p>
                                        <% } %>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="image">Ảnh: </label>
                                    <input class="form-control"
                                        type="file" 
                                        name="image" 
                                        id="image" 
                                    >
                                </div>
                                
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-primary" type="submit">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="confirmDeleteItemModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xác Nhận Xóa Người Dùng</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form" action="/admin/manage/delete-user/?delete=true" method="POST">
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="name">Tên sự người dùng: </label>
                                    <span name="name" class="name"></span>
                                </div>
                                
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-primary" type="submit">Xóa</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="editItemModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Cập Nhật Người Dùng</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form-editItemModal" class="product-form"  action="/admin/manage/edit-user/?edit=true" method="POST" enctype="multipart/form-data">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="email">Email: </label>
                                    <input 
                                        class="form-control" 
                                        type="email" 
                                        name="email" 
                                        id="email" 
                                        value="" 
                                        required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="password">Mật khẩu: </label>
                                    <input 
                                        class="form-control" 
                                        type="password" 
                                        name="password" 
                                        id="password" 
                                        value="">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="passwordConfirm">Xác nhận mật khẩu: </label>
                                    <input 
                                        class="form-control" 
                                        type="password" 
                                        name="passwordConfirm" 
                                        id="passwordConfirm" 
                                        value="">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="permission">Quyền: </label>
                                    <select 
                                        class="form-select" 
                                        name="permission" 
                                        id="permission" 
                                        value="" 
                                        required>
                                        <option value="user">user</option>
                                        <option value="admin">admin</option>
                                    </select>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="available">Trạng thái: </label>
                                    <select 
                                        class="form-select" 
                                        name="available" 
                                        id="available" 
                                        value="" 
                                        required>
                                        <option value="true">Hoạt động</option>
                                        <option value="false">Vô hiệu hóa</option>
                                    </select>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="name">Tên: </label>
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        name="name" 
                                        id="name" 
                                        value=""
                                        required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="doB">Ngày sinh: </label>
                                    <input 
                                        class="form-control" 
                                        type="date" 
                                        name="doB" 
                                        id="doB" 
                                        value="" 
                                        required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="phoneNumber">Điện thoại: </label>
                                    <input 
                                        class="form-control" 
                                        type="tel" 
                                        name="phoneNumber" 
                                        id="phoneNumber" 
                                        value="" 
                                        required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="postcode">Mã bưu điện: </label>
                                    <input 
                                        class="form-control" 
                                        type="number" 
                                        name="postcode" 
                                        id="postcode" 
                                        maxlength="3" 
                                        value="" 
                                        required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="address">Địa chỉ: </label>
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        name="address" 
                                        id="address" 
                                        value="" 
                                        required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="point">Điểm: </label>
                                    <input 
                                        class="form-control" 
                                        type="number" 
                                        name="point" 
                                        id="point" 
                                        value="" 
                                        required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="image">Ảnh: </label>
                                    <input class="form-control"
                                        type="file" 
                                        name="image" 
                                        id="image" 
                                    >
                                </div>
    
                                <input type="hidden" name="_id" id="_id" val="">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                <button type="button" id="btn-confirmEditItem" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmEditItemModal">Xác nhận</button>
                                <!-- <button class="btn btn-primary" type="submit">Cập nhật</button> -->
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>    
                            </form> 
                        </div>
                    </div>
                </div>
            </div>

            <div id="confirmEditItemModal" class="modal" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xác Nhận Cập nhật Người Dùng</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="email">Email: </label>
                                <span name="email" class="email"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="password">Mật khẩu: </label>
                                <span name="password" class="password"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="permission">Quyền: </label>
                                <span name="permission" class="permission"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="available">Trạng thái: </label>
                                <span name="available" class="available"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="name">Tên: </label>
                                <span name="name" class="name"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="doB">Ngày sinh: </label>
                                <span name="doB" class="doB"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="phoneNumber">Điện thoại: </label>
                                <span name="phoneNumber" class="phoneNumber"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="postcode">Mã bưu điện: </label>
                                <span name="postcode" class="postcode"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="address">Địa chỉ: </label>
                                <span name="address" class="address"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="point">Điểm: </label>
                                <span name="point" class="point"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="fw-bold form-label" for="image">Ảnh: </label>
                                <span name="image" class="image"></span>

                            </div>
                            <input type="hidden" name="_id" id="_id" val="">

                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editItemModal" role="button">Trở về</button>
                            <button type="button" id="btn-submitConfirmEditItem" class="btn btn-primary">Cập nhật</button>
                            <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                        
                        </div>
                    </div>
                </div>
            </div>

            <div id="detailItemModal" class="modal fade" data-bs-backdrop="static" >
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Chi Tiết Người Dùng</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                                <div class="mb-3 mt-3">
                                    <img name="image"  onerror="this.src='../../images/defaul-image.jpg';" id="imageUrl" class="mh-200" style="width: 150px; height: 200px" src="" alt="">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="email">Email: </label>
                                    <span name="email" class="email"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="permission">Quyền: </label>
                                    <span name="permission" class="permission"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="name">Tên: </label>
                                    <span name="name" class="name"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="doB">Ngày sinh: </label>
                                    <span name="doB" class="doB"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="phoneNumber">Điện thoại: </label>
                                    <span name="phoneNumber" class="phoneNumber"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="postcode">Mã bưu điện: </label>
                                    <span name="postcode" class="postcode"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="address">Địa chỉ: </label>
                                    <span name="address" class="address"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="point">Điểm: </label>
                                    <span name="point" class="point"></span>
                                </div>

                                <input type="hidden" name="_id" id="_id" val="">
    
                            
                                <button type="button" id="btn-editItem" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editItemModal" >Sửa</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </main>

    <div class="row">
        <table 
        id="table" 
        data-click-to-select="true"
        data-pagination="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-search="true"
        data-toolbar=".toolbar"
        data-show-search-button="true"
        data-filter-control="true"
        data-sortable="true"
        >
        <thead>
            <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="_id" data-visible="false">Mã User</th>
            <th data-field="email" data-visible="false">Mail</th>
            <th data-field="permission" data-filter-control="select">Quyền</th>
            <th data-field="name" data-filter-control="input">Tên</th>
            <th data-field="available" data-filter-control="select" data-formatter="availableFormatter">Trạng thái</th>
            <th data-field="doB" data-visible="true" data-formatter="doBFormatter">Ngày sinh</th>
            <th data-field="phoneNumber" data-filter-control="input" data-visible="true">Số ĐT</th>
            <th data-field="address" data-visible="true">Địa chỉ</th>
            <th data-field="imageUrl" data-visible="false">Ảnh</th>
            <th data-field="point"  data-sortable="true" data-visible="true">Điểm</th>
            <th data-field="cart" data-visible="false">Giỏ</th>
            <th data-field="action" data-width="150" data-formatter="actionEditEvent" data-events="actionEditUserEvents">Action</th>
            </tr>
        </thead>
        </table>
    </div>

    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script id="admin-users-page" 
                src="/js/script-admin-users.js" 
                users-data='<%- JSON.stringify(users.reverse()) %>'
                addUserValidationErrors='<%- JSON.stringify(addUserValidationErrors) %>'
                inform='<%= inform %>'
        >
    </script>

   <%- include('../includes/page-end.ejs') %>